<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author
Nicholas Proietti

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List 3 examples of tools for Data Science
- List examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-learn

| Data Science Tools | 
|:--------:|
|  Apache Spark   |  
|  Apache Hadoop   |  
|  TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
str(minutes/60) + " hours"

'3.3333333333333335 hours'